WebUI/Web References/RemoteSearchService/SearchService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1565/SearchService?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="SearchResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ResultsCount" type="xs:int" />
      <xs:element minOccurs="0" name="Snippets" nillable="true" type="tns:ArrayOfSnippet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchResult" nillable="true" type="tns:SearchResult" />
  <xs:complexType name="ArrayOfSnippet">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Snippet" nillable="true" type="tns:Snippet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSnippet" nillable="true" type="tns:ArrayOfSnippet" />
  <xs:complexType name="Snippet">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileId" type="xs:int" />
      <xs:element minOccurs="0" name="SnippetText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SnippetUrl" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Tags" nillable="true" type="q1:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Snippet" nillable="true" type="tns:Snippet" />
</xs:schema>